@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0 auto;
  }

section.top-page {
    background: url('/img/HEADER.svg') center fixed;
    background-size: cover; /*l'image ne se répète pas si on agrandi la fenêtre*/
    height: 80vh;
    padding: 25px;
}

/*
    texte de presentation
*/

#presentation {
    background-color: #B5C4C6;
}

.presentation_container {
    padding: 0 400px 140px 400px;
    color: #2E2EFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

#cestquoi {
    padding-top: 30px;
    font-size: small;
    font-style: italic;
    font-weight: 400;
}

#paragraphe {
    font-weight: 500;
    text-align: center;
}

/*
    sticky menu
*/

.sticky {
    width: 100%;
	background-color: #B5C4C6;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.sticky_container {
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #2E2EFF;
    border-bottom: 2px solid #2E2EFF;
}

a {
    text-decoration: none;
    color: #2E2EFF;
    font-weight: 500;
    font-size: 1em;
}

/*
    people part
*/

#people {
    background-color: #B5C4C6;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    padding-top: 25px;
    padding-bottom: 30px;
}

.students_42 {
    padding-top: 150px;
}

.students_help {
    padding-bottom: 150px;
}

/* 
    objectives
 */

 #objectives {
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #00113A;
 }

 h1 {
    font-size: 3em;
    padding-top: 50px;
 }

 h2 {
     padding-bottom: 30px;
 }

 h3 {
     padding-top: 70px;
     padding-bottom: 40px;
     margin-right: 20px;
 }

 h1, h2, h3 {
    text-align: center;
    font-weight: 300;
    margin: 0;

}

.div_hr {
    display: flex;
    align-items: center;
}
hr {
    width: 300px;
    border-color: #fff;
    margin-top: 50px;
}

 .footer-container1,
 .footer-container2,
 .footer-container3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  
  #f_future_students,
  #f_student_life,
  #f_collaboration,
  #f_clubs,
  #f_education,
  #f_fun,
  #f_web,
  #f_merchandising,
  #f_extra {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 30px;

}

#f_future_students,
#f_collaboration {
    flex: 1;
}

#f_student_life {
    flex: 2;
}

/* 
    footer
*/

footer {

    background: url('/img/wave_bottom.svg') center;
    background-size: cover;
    height: 60vh;
    padding: 25px;
}



.copy {
    width: 100%;
    padding: 20px 40px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: .3;
    font-size: .75rem;
    font-weight: 500;
}